@page
@model AttendanceSystem.Pages.Students.CreateModel

<h2>Add New Student</h2>

<form method="post">
    <div class="mb-3">
        <label>Student Number</label>
        <input asp-for="Student.StudentNumber" class="form-control" />
    </div>

    <div class="mb-3">
        <label>Full Name</label>
        <input asp-for="Student.FullName" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/Students/StudentList" class="btn btn-secondary">Cancel</a>
</form>
